@import "tailwindcss";

@font-face {
  font-family: "Magtis";
  src: url(/fonts/Magtis.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #F5EDF0;
  --foreground: #4B5D6C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Magtis', sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Magtis', sans-serif;
}

.font-Magtis {
  font-family: 'Magtis', sans-serif;
}

.font-Inter {
  font-family: 'Inter', sans-serif;
}
